.bold-title {
  font-weight: 700;
}

/* AutoComplete */

 .auto-enter {
   opacity: 0.01;
   transform: translateY(150%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 3000ms, transform 3000ms;
 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(150%);
   transition: opacity 3000ms, transform 3000ms;
 }
