<h1>Make your dreams come true!</h1>

<form action="<%= users_url %>" method="post">
  <%= csrf_token %>
  <label for="username">Username:</label>
  <br/>
  <input type="text"
         name="user[username]"
         value="<%= @user.username %>"
         id="username">
  <br/>
  <label for="password">Password:</label>
  <br/>
  <input type="password"
         name="user[password]"
         value=""
         id="password">
   <br/>
   <input type="submit" value="Dream On!">
</form>
