<!DOCTYPE html>
<html>
<head>
  <title>DreamsAndAspirations</title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/flashes" %>

<%= render "shared/nav_bar" %>

<%= yield %>

</body>
</html>
